.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .mat-form-field-outline {
    background: #990000!important;
    
}
// .mat-form-field-flex{
//     height: 59px!important;
// }
// .mat-input-element{
//     height: 40px;
// }
.mat-form-field-wrapper{
    background: #990000!important;
}
::ng-deep .mat-form-field-appearance-outline{
    .mat-form-field-outline {
    background: #202739;
    border-radius: 5px!important;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    }
}
::ng-deep .mat-select-content{
    width:2000px;
    background-color: red;
    font-size: 10px;   
}

.form_sec .mat-form-field {
    margin-bottom: 10px;
}

.row_sec .mat-form-field {
    width: 100%;
}
.mat-form-field{
    font-family: 'Barlow Condensed', sans-serif!important;
}
.mat-form-field-infix{
    font-family: 'Barlow Condensed', sans-serif!important;
}
