<section class="page">
    <div *ngIf="myLoader" class="spinner">
        <img src="assets/images/spinner.gif">
    </div>
    <div class="section_top_padding">
      <div class="page_title_sec fo-sep">
        <h2>Trend Charts</h2>
        
        </div> 

      <div class="maintanence-db-wrapper">
        <div class="dropdown-wrapper">
            <mat-form-field appearance="fill">
                <mat-label>Select Line</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Select Machine</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Select Signal</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Select Duration</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
      </div>
      <div  id="container" ></div>
    </div>
  
</section>
