<section class="page">
    <div *ngIf="myLoader" class="spinner">
        <img src="assets/images/spinner.gif">
    </div>
    <div class="section_top_padding">
      
      <div class="page_title_sec fo-sep">
        <h2>Maintenance Dashboard - {{lname}}(Current Machine:{{selectedmachine}})</h2>
        <p>Total Machine <span>({{alname.length==''?0:alname.length}})</span></p>
        </div> 

        <div class="m-dashboard">

        
   <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let val of alname">
            
             
              <div class="">
                <div class="card machine-st as-selected-{{val?.machine==selectedmachine?'green':''}}" *ngIf="val.status === 'OPERATE'" (click)="getmachinedet(val?.machine)">
                  <div class="heading">
                    <h5>{{val?.machine}}</h5>
                  <span class="dot"></span>
                  </div>
                  <div class="chart-wrapper">
                    <h1>{{val?.run}}%</h1>
                    <div class="chart-details">
                      <div class="circle">
                          <circle-progress radius="20" percent='{{val?.run}}' outerStrokeColor="#16a300" innerStrokeColor="#ffffff" 
                          animation="true"
                          animationDuration="300">
                        </circle-progress>
                        
                        </div> 
                  
                    </div>
  
                    <h6>Mode:<br>
                      {{val.mode==null?'N/A':val.mode}}</h6>
                  </div>
                </div>
                <div class="card machine-st fo-alarmss as-selected-{{val?.machine==selectedmachine?'grey':''}}" *ngIf="val.status === 'DISCONNECT'" (click)="getmachinedet(val?.machine)">
                  <div class="heading">
                    <h5>{{val?.machine}}</h5>
                  <span class="dot"></span>
                  </div>
                  <div class="chart-wrapper">
                    <h1>{{val?.run}}%</h1>
                    <div class="chart-details">
                      
                        <div class="circle">
                          <circle-progress radius="20" percent='{{val?.run}}' outerStrokeColor="#878a86" innerStrokeColor="#ffffff" animation="true"
                          animationDuration="300">
                        </circle-progress>
                          
                        </div> 
                  
                    </div>
  
                    <h6>Mode:<br>
                      {{val.mode==null?'N/A':val.mode}}</h6>
                  </div>
                </div>
                <div class="card machine-st fo-alarm fo-blink" *ngIf="val.status === 'ALARM'|| val.status === 'EMERGENCY'" (click)="getmachinedet(val?.machine)">
                  <div class="heading">
                    <h5>{{val?.machine}}</h5>
                  <span class="dot"></span>
                  </div>
                  <div class="chart-wrapper">
                    <h1>{{val?.run}}%</h1>
                    <div class="chart-details">
                      
                        <div class="circle">
                          <circle-progress radius="20" percent='{{val?.run}}' outerStrokeColor="#ff0f0f" innerStrokeColor="#ffffff" animation="true"
                          animationDuration="300">
                        </circle-progress>
                          
                        </div> 
                  
                    </div>
  
                    <h6>Mode:<br>
                      {{val.mode==null?'N/A':val.mode}}</h6>
                  </div>
                </div>
                <div class="card machine-st fo-alarms as-selected-{{val?.machine==selectedmachine?'yellow':''}}" *ngIf="val.status === 'STOP'" (click)="getmachinedet(val?.machine)">
                  <div class="heading">
                    <h5>{{val?.machine}}</h5>
                  <span class="dot"></span>
                  </div>
                  <div class="chart-wrapper">
                    <h1>{{val?.run}}%</h1>
                    <div class="chart-details">
                      
                      
                        <div class="circle">
                          <circle-progress radius="20" percent='{{val?.run}}' outerStrokeColor="#f2f207" innerStrokeColor="#ffffff" animation="true"
                          animationDuration="300">
                        </circle-progress>
                        
                        </div> 
               
                    </div>
  
                    <h6>Mode:<br>
                      {{val.mode==null?'N/A':val.mode}}</h6>
                  </div>
                </div>
              
           
            </div>
          </ng-template>  
 
        </owl-carousel-o>

      </div>
      <div class="maintanence-db-wrapper">
        <div class="machine-status">
       
          <div class="row">
            <!-- <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card machine-st fo-alarm">
                <div class="heading">
                  <h5>Casting Bay - STUI</h5>
                <div class="dot"></div>
                </div>
                <div class="chart-wrapper">
                  <h1>40%</h1>
                  <div class="chart-details">
                    <div class="circle-wrap">
                      <div class="circle">
                        <div class="mask half">
                          <div class="fill"></div>
                      </div>
                      <div class="mask full">
                        <div class="fill"></div>
                     </div>

                     <div class="inside-circle">  </div>
                      </div>
                    </div>
                  </div>

                  <h6>Mode:<br>
                    MDI</h6>
                </div>
              </div>
            </div> -->
            <!-- <owl-carousel-o [options]="customOptions">

              <ng-container *ngFor="let val of alname;let j=index;">
                <ng-template class="slide" carouselSlide [id]="j">
                
                    <label >{{val?.machine}}</label>
               
                
                </ng-template>
              </ng-container>
          
            </owl-carousel-o>  -->
            
            <!-- <owl-carousel-o [options]="customOptions">class="slide" carouselSlide [id]="j" -->

            
            <!-- </owl-carousel-o> -->
            <!-- <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card machine-st">
                <div class="heading">
                  <h5>Casting Bay - STUI</h5>
                <span class="dot"></span>
                </div>
                <div class="chart-wrapper">
                  <h1>40%</h1>
                  <div class="chart-details">
                    <div class="circle-wrap">
                      <div class="circle">
                        <div class="mask half">
                          <div class="fill"></div>
                      </div>
                      <div class="mask full">
                        <div class="fill"></div>
                     </div>

                     <div class="inside-circle">  </div>
                      </div>
                    </div>
                  </div>

                  <h6>Mode:<br>
                    Edit</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card machine-st">
                <div class="heading">
                  <h5>Casting Bay - STUI</h5>
                <span class="dot"></span>
                </div>
                <div class="chart-wrapper">
                  <h1>40%</h1>
                  <div class="chart-details">
                    <div class="circle-wrap">
                      <div class="circle">
                        <div class="mask half">
                          <div class="fill"></div>
                      </div>
                      <div class="mask full">
                        <div class="fill"></div>
                     </div>

                     <div class="inside-circle">  </div>
                      </div>
                    </div>
                  </div>

                  <h6>Mode:<br>
                    MDI</h6>
                </div>
              </div>
            </div> -->
          </div>
        </div>

        <div class="machine-status-slide">
          <div class="card machine-st fo-slide">
            <div class="contents">
              <h6>Program No: <strong>{{programnumber==null?'N/A':programnumber}}</strong></h6>
              <div class="divider"></div>
              <h6>Product Name: <strong>{{productname==null?'N/A':productname}}</strong></h6>
              <div class="divider"></div>
              <h6>Power on Time (Hr): <strong>{{powerontime==null?'N/A':secondsToHms(powerontime)}}</strong></h6>
              <div class="divider"></div>
              <h6>Run Time (Hr): <strong>{{runtime==null?'N/A':secondsToHms(runtime)}}</strong></h6>
              <div class="divider"></div>
              <h6>Cumulative Cut Time (Hr): <strong>{{cuttime==null?'N/A':secondsToHms(cuttime)}}</strong></h6>
              <div class="divider"></div>
              <h6>Parts Count: <strong>{{partscount==null?'N/A':partscount}}</strong></h6>
              <!-- <div class="divider"></div>
              <h6>Cycle Time (Sec): <strong>-----</strong></h6> -->
            </div>
          </div> 

        </div>

        <div class="machine-details-section min-h">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="card machine-st fo-chart-wrapper">
                <h4>Servo Load <span>(%)</span></h4>
               <div class="row">
                 <div class="col-lg-4 col-sm-12" *ngFor="let data of maintenancedetails['SERVOLOAD'];let k=index">
                   <p style="margin-bottom: 0; text-align: center; font-size: 20px;">{{data.axis}}({{data.value==null?'N/A':data.value==0?'N/A':data.value}})</p>
                  <div >  <canvas id="oilChart{{k}}"  height="160" fontsize="opx"></canvas></div>
                 </div>
               </div>

               <div class="indicator-wrapper"  *ngIf="maintenancedetails['SERVOLOAD']">
                <div class="item-wrpper">
                  <div class="mini green"></div>
                  <p>0-{{maintenancedetails['SERVOLOAD'][0].color_code[0]}}</p>
                </div>
                <div class="item-wrpper">
                 <div class="mini yellow"></div>
                 <p>{{maintenancedetails['SERVOLOAD'][0].color_code[0]}}-{{maintenancedetails['SERVOLOAD'][0].color_code[0] + maintenancedetails['SERVOLOAD'][0].color_code[1]}}</p>
               </div>
               <div class="item-wrpper">
                 <div class="mini red"></div>
                 <p>{{maintenancedetails['SERVOLOAD'][0].color_code[0] + maintenancedetails['SERVOLOAD'][0].color_code[1]}}-100</p>
               </div>
              </div>
              
                <!-- <div class="image-wrapper text-center">
                  <img src="assets/images/chart1.png">
                </div> -->
              </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="card machine-st fo-chart-wrapper">
                <h4>Servo Temperature <span>(°C)</span></h4>
                <div *ngFor="let data of maintenancedetails['SERVOTEMPERATURE'];let i=index" id="rangeContainers{{i}}" ><span class="gauge-title">{{data.axis}}({{data.value==null?'N/A':data.value==0?'N/A':data.value}})</span></div>
                <!-- <div class="image-wrapper text-center">
                  <img src="assets/images/chart2.png">           
                </div> -->

                <div class="indicator-wrapper"  *ngIf="maintenancedetails['SERVOTEMPERATURE']">
                  <div class="item-wrpper">
                    <div class="mini green"></div>
                    <p>0-{{maintenancedetails['SERVOTEMPERATURE'][0].color_code[0]}}</p>
                  </div>
                  <div class="item-wrpper">
                   <div class="mini yellow"></div>
                   <p>{{maintenancedetails['SERVOTEMPERATURE'][0].color_code[0]}}-{{maintenancedetails['SERVOTEMPERATURE'][0].color_code[0] + maintenancedetails['SERVOTEMPERATURE'][0].color_code[1]}}</p>
                 </div>
                 <div class="item-wrpper">
                   <div class="mini red"></div>
                   <p>{{maintenancedetails['SERVOTEMPERATURE'][0].color_code[0] + maintenancedetails['SERVOTEMPERATURE'][0].color_code[1]}}-100</p>
                 </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="card machine-st fo-chart-wrapper">
                <h4>Pulse Code Temperature <span>(°C)</span></h4>
                  <div *ngFor="let data of maintenancedetails['PULSECODETEMPERATURE'];let i=index" id="rangeContainer{{i}}"><span class="gauge-title">{{data.axis}}({{data.value==null?'N/A':data.value==0?'N/A':data.value}})</span></div>
                <!-- <div class="image-wrapper text-center">
                  <img src="assets/images/chart3.png">           
                </div> -->
                <div class="indicator-wrapper" *ngIf="maintenancedetails['PULSECODETEMPERATURE']">
                  <div class="item-wrpper">
                    <div class="mini green"></div>
                    <p>0-{{maintenancedetails['PULSECODETEMPERATURE'][0].color_code[0]}}</p>
                  </div>
                  <div class="item-wrpper">
                   <div class="mini yellow"></div>
                   <p>{{maintenancedetails['PULSECODETEMPERATURE'][0].color_code[0]}}-{{maintenancedetails['PULSECODETEMPERATURE'][0].color_code[0] + maintenancedetails['PULSECODETEMPERATURE'][0].color_code[1]}}</p>
                 </div>
                 <div class="item-wrpper">
                   <div class="mini red"></div>
                   <p>{{maintenancedetails['PULSECODETEMPERATURE'][0].color_code[0] + maintenancedetails['PULSECODETEMPERATURE'][0].color_code[1]}}-100</p>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="machine-details-section twin" style="margin-top: 8px;">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="card machine-st fo-chart-wrapper" style="overflow-x:auto;">
                <h4>Servo Load Current <span>(A)</span></h4>
                <div class="content">
                  <div class="text-wrapper" *ngFor="let data of maintenancedetails['SERVOLOADCURRENT']">
                    <h3>{{data.value==null?'N/A':data.value}}</h3>
                    <p>{{data.axis}}</p>
                  </div>
                  <!-- <div class="text-wrapper">
                    <h3>10</h3>
                    <p>Y</p>
                  </div>
                  <div class="text-wrapper">
                    <h3>10</h3>
                    <p>Z</p>
                  </div>
                  <div class="text-wrapper">
                    <h3>10</h3>
                    <p>A</p>
                  </div>
                  <div class="text-wrapper">
                    <h3>10</h3>
                    <p>B</p>
                  </div> -->
                </div>
              </div>

              <div class="card machine-st fo-chart-wrapper" style="margin-top: 10px; overflow-x:auto;" >
                <h4>Absolute Postion <span>(mm)</span></h4>
                <div class="content">
                  <div class="text-wrapper" *ngFor="let data of maintenancedetails['ABSOLUTEPOSITION']">
                    <h3>{{data.value==null?'N/A':data.value}}</h3>
                    <p>{{data.axis}}</p>
                  </div>
                  <!-- <div class="text-wrapper">
                    <h3>10</h3>
                    <p>Y</p>
                  </div>
                  <div class="text-wrapper">
                    <h3>10</h3>
                    <p>Z</p>
                  </div>
                  <div class="text-wrapper">
                    <h3>10</h3>
                    <p>A</p>
                  </div>
                  <div class="text-wrapper">
                    <h3>10</h3>
                    <p>B</p>
                  </div> -->
                </div>
              </div>
            </div>

            <div class="col-lg-8 col-md-12 col-sm-12">
              <div class="card machine-st fo-chart-wrapper sep">
                <h4>Spindle</h4>
              
                <div class="row" style="align-items: center;"> 
                  <div class="col-lg-3" *ngFor="let data of loads" style="text-align: center;">
                    <div>
                      <span>Spindle Load (%)</span>
                      <circle-progress  radius="60" percent="{{data.value}}"  outerStrokeColor="{{colorcode(data.color_code,data.value)}}" outerStrokeColor="80" innerStrokeColor="#ffffff" animation="true" animationDuration="300" innerstrokeradius="60">
                      </circle-progress>
                     
                    </div>
                    
                    
                 </div>

            
                  <div class="col-lg-9"  >
                  <div class="chrt-flx" style="padding: 23px;">

                  
                    <div class="fo-cht" *ngFor="let data of temp;let k=index">  
                      <span  style=" font-size: 18px; font-weight: 400; margin-top: 5px;">{{data.axis}} ({{datashow(data.axis)}})</span>
                      <canvas class="cht-wi" id="oilCharts{{k}}" width="30%"></canvas>
                      <span  style=" font-size: 18px; font-weight: 400; margin-top: 5px;">{{data.value==null?'0':data.value}} {{datashow(data.axis)}}</span>
                    </div>

                  </div>
                   </div>
                 
                  
           
               </div>
              </div>
            </div>

            <div class="col-lg-5 col-md-12 col-sm-12 fo-right" style="margin-top: 8px; padding-right: 0;">
              <div class="card machine-st fo-chart-wrapper">
                <h4>Fan Speed</h4>
                <div class="usables">
                    <div class="item-wrapper" *ngFor="let data of maintenancedetails['FANSPEED'];let i=index">
                      <p>Fan{{i+1}}</p>
                      <img src="assets/icons/fanw.png" alt="">
                      <p>{{data.value}}</p>
                    </div>

                    <!-- <div class="item-wrapper">
                      <p>Fan2</p>
                      <img src="assets/icons/fanw.png" alt="">
                      <p>10513</p>
                    </div> -->
                </div>
              </div>

              


            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 fo-right" style="margin-top: 8px; padding-right: 0;">
              <div class="card machine-st fo-chart-wrapper" >
                <h4>Fan Status</h4>
                <div class="fo-flx">

                
                <div class="usables" *ngFor="let data of maintenancedetails['FANSTATUS'];let i=index">
                    <div class="item-wrapper green" *ngIf="data.value==='NORMAL'">
                      <p>Fan{{i+1}}</p>
                      <img src="assets/icons/fanw.png" alt="">
                      <p>{{data.value}}</p>
                    </div>

                    <div class="item-wrapper red" *ngIf="data.value !='NORMAL' && data.value !='NON' &&  data.value !='' && data.value !=0 && data.value !=null">
                      <p>Fan{{i+1}}</p>
                      <img src="assets/icons/fanw.png" alt="">
                      <p>{{data.value}}</p>
                    </div>
                    <div class="item-wrapper" *ngIf="data.value =='NON' || data.value =='' || data.value ==0 || data.value ==null">
                      <p>Fan{{i+1}}</p>
                      <img src="assets/icons/fanw.png" alt="">
                      <p>{{data.value}}</p>
                    </div>
                </div>

              </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-12 col-sm-12 " style="margin-top: 8px;">
              <div class="card machine-st fo-chart-wrapper">
                <h4>Battery Status</h4>
                 <div class="fo-icons-wrapper">
                   <div class="bt-icon" *ngFor="let data of maintenancedetails['BATTERYSTATUS']">
                    <div *ngIf="data.value==false"> 
                      <img  src="assets/icons/bt-green.png" alt="">
                    </div>
                    <div *ngIf="data.value==true">
                      <img   src="assets/icons/bt-red.png" alt="">
                    </div>
                    <div *ngIf="data.value=='' && data.value==0 && data.value==null">
                      (N/A)
                    </div>
                     <p>{{data.axis}}</p>
                   </div>
                   <!-- <div class="bt-icon">
                    <img src="assets/icons/bt-red.png" alt="">
                    <p>Y</p>
                  </div>
                  <div class="bt-icon">
                    <img src="assets/icons/bt-green.png" alt="">
                    <p>Z</p>
                  </div>
                  <div class="bt-icon">
                    <img src="assets/icons/bt-green.png" alt="">
                    <p>A</p>
                  </div>
                  <div class="bt-icon">
                    <img src="assets/icons/bt-green.png" alt="">
                    <p>B</p>
                  </div> -->
                  
                 </div>
              </div>
            </div>


          </div>
        </div>
      </div>
            
    </div>
  
</section>