<div class="fo-model-wrapper">
    <div class="fo-mod-header">
        <h4>Spindle speed/Feed rate setting</h4>
        <mat-icon>clear</mat-icon>
    </div>
    <div class="fo-mod-content">
        <div class="table-wrapper">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Options</th>
                    <th class="text-center">Normal <br>
                    <div class="bar green"></div>
                    </th>
                    <th  class="text-center">Warning <br>
                        <div class="bar yellow"></div>
                    </th>
                    <th class="text-center">Critical <br>
                        <div class="bar red"></div>
                    </th>

                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Spindle Speed</td>
                    <td>
                       <div class="fo-lx">
                        <div class="dropdown tbl">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Min
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="#">HTML</a></li>
                              <li><a href="#">CSS</a></li>
                              <li><a href="#">JavaScript</a></li>
                            </ul>
                          </div>
                        
                          <div class="dropdown tbl">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Max
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="#">HTML</a></li>
                              <li><a href="#">CSS</a></li>
                              <li><a href="#">JavaScript</a></li>
                            </ul>
                          </div>
                        </div> 
                        </td>
                    <td >

                        <div class="fo-lx">
                        <div class="dropdown tbl">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Min
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">HTML</a></li>
                          <li><a href="#">CSS</a></li>
                          <li><a href="#">JavaScript</a></li>
                        </ul>
                      </div>
                    
                      <div class="dropdown tbl">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Max
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">HTML</a></li>
                          <li><a href="#">CSS</a></li>
                          <li><a href="#">JavaScript</a></li>
                        </ul>
                      </div>
                    </div>
                    </td>

                    <td >

                        <div class="fo-lx">
                        <div class="dropdown tbl">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Min
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">HTML</a></li>
                          <li><a href="#">CSS</a></li>
                          <li><a href="#">JavaScript</a></li>
                        </ul>
                      </div>
                    
                      <div class="dropdown tbl">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Max
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">HTML</a></li>
                          <li><a href="#">CSS</a></li>
                          <li><a href="#">JavaScript</a></li>
                        </ul>
                      </div>
                    </div>
                    </td>

                    <td >

                        <div class="fo-lx">
                            <img src="/assets/icons/pencil.png" alt="">
                            <img src="/assets/icons/save.png" alt="">
                    </div>
                    </td>
                  </tr>

                  <tr>
                    <td>Feed Speed</td>
                    <td>
                       <div class="fo-lx">
                        <div class="dropdown tbl">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Min
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="#">HTML</a></li>
                              <li><a href="#">CSS</a></li>
                              <li><a href="#">JavaScript</a></li>
                            </ul>
                          </div>
                        
                          <div class="dropdown tbl">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Max
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="#">HTML</a></li>
                              <li><a href="#">CSS</a></li>
                              <li><a href="#">JavaScript</a></li>
                            </ul>
                          </div>
                        </div> 
                        </td>
                    <td >

                        <div class="fo-lx">
                        <div class="dropdown tbl">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Min
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">HTML</a></li>
                          <li><a href="#">CSS</a></li>
                          <li><a href="#">JavaScript</a></li>
                        </ul>
                      </div>
                    
                      <div class="dropdown tbl">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Max
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">HTML</a></li>
                          <li><a href="#">CSS</a></li>
                          <li><a href="#">JavaScript</a></li>
                        </ul>
                      </div>
                    </div>
                    </td>

                    <td >

                        <div class="fo-lx">
                        <div class="dropdown tbl">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Min
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">HTML</a></li>
                          <li><a href="#">CSS</a></li>
                          <li><a href="#">JavaScript</a></li>
                        </ul>
                      </div>
                    
                      <div class="dropdown tbl">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Max
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">HTML</a></li>
                          <li><a href="#">CSS</a></li>
                          <li><a href="#">JavaScript</a></li>
                        </ul>
                      </div>
                    </div>
                    </td>

                    <td >

                        <div class="fo-lx">
                            <img src="/assets/icons/pencil.png" alt="">
                            <img src="/assets/icons/save.png" alt="">
                    </div>
                    </td>
                  </tr>

                  
                </tbody>
              </table>
        </div>
        
       

        <div class="button text-right d-flex">
            <button type="button" class="btn btn-warning">Save</button>
            <button type="button" class="btn btn-basic">Close</button>
        </div>
    </div>
</div>